body {
  background-color: #000;
  margin: 0;
}

/* dat.gui boolean fields */
div.dg.main li.cr.boolean > div > span {
  width: 85%;
}
div.dg.main li.cr.boolean > div > div {
  width: 15%;
}

/* hide save button */
div.dg.main li.save-row {
  display: none;
}

/* set minimum width so that text field labels show reasonably */
#gui_css {
  min-width: 400px;
}

/* hide the close button entirely */
.dg.main .close-button {
  display: none;
}

/* let property names expand to the size of their text contents */
.dg li:not(.folder) {
  height: auto;
  min-height: 27px;
}
